<!DOCTYPE html>
<html lang="es">
<head>
    <%- include("./partials/head") %>
    <title>Inicio</title>
</head>
<body class="body">
    <header>
       <%- include("./partials/navbar") %>
        
    </header>
    <div class="container-fluid p-0">
        <div class="collapse multi-collapse" id="searchCollapse">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="searchData" placeholder="Buscá corpiños, bombachas, medias ,trajes de baño y más...">
                <label for="searchData">Buscá Marca, modelo, articulo y más...</label>
            </div>
        </div>
    </div>

     <!-- Main (Contenido) -->
<main class="container mt-2">

    <!-- Banner con sombra -->
    <div class="text-center mb-4 custom-banner">
        <img src="./images/banner1.jpg" alt="Banner de Ropa Interior" class="img-fluid shadow rounded mx-auto d-block">
    </div>

    <!-- Mini navbar scrollable con categorías y logos -->
    <div class="scrollable-menu d-flex justify-content-between">
        <div class="menu-item">
            <a href="#" class="nav-link link-dark">
                <div class="logo-wrapper">
                    <img src="./images/ropaInterior.jpg" alt="Logo Categoría 1" class="item-logo">
                </div>
                <span class="item-text ">Categoría 1</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="#" class="nav-link link-dark">
                <div class="logo-wrapper">
                    <img src="./images/ropaInterior.jpg" alt="Logo Categoría 1" class="item-logo">
                </div>
                <span class="item-text">Categoría 1</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="#" class="nav-link link-dark">
                <div class="logo-wrapper">
                    <img src="./images/ropaInterior.jpg" alt="Logo Categoría 1" class="item-logo">
                </div>
                <span class="item-text">Categoría 1</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="#" class="nav-link link-dark">
                <div class="logo-wrapper">
                    <img src="./images/ropaInterior.jpg" alt="Logo Categoría 1" class="item-logo">
                </div>
                <span class="item-text">Categoría 1</span>
            </a>
        </div>
        <div class="menu-item">
            <a href="#" class="nav-link link-dark">
                <div class="logo-wrapper">
                    <img src="./images/ropaInterior.jpg" alt="Logo Categoría 1" class="item-logo">
                </div>
                <span class="item-text">Categoría 1</span>
            </a>
        </div>
        <!-- ... otros ítems ... -->
    </div>
    
    

    <h2 class="titulo-destacados m-2 mt-4 mb-2">Productos Destacados</h2>


    <!-- Scrollable productos destacados -->
    <div class="row mt-3">
        <!-- Producto 1 -->
        <div class="col-lg-3 col-md-6 col-6 mb-2">
            <div class="card product-card">
                <div class="product-image">
                    <img src="./images/producto-1.jpg" alt="Imagen Producto 1">
                </div>
                <div class="p-1 mt-2">
                    <div class="d-lg-flex mb-2 align-items-end flex-column flex-lg-row ">
                        <p class="align-items-center fs-4 mb-0 mb-lg-0 fw-bolder articulo-titulo">$ 20.000,00</p>
                        <p class="text-start fs-6 mb-0 mb-lg-1 ms-lg-2">10% OFF</p>
                    </div>
                    <p class="fs-6 mb-0 articulo-descripcion">Art. 5295</p>
                    <p class="text-break fs-6 articulo-descripcion">Conjunto POWER COLOR</p>
                </div>
            </div>
        </div>
        
        
    
        <!-- Producto 2 -->
        <div class="col-lg-3 col-md-6 col-6 mb-2">
            <div class="card product-card">
                <div class="product-image">
                    <img src="./images/producto-1.jpg" alt="Imagen Producto 1">
                </div>
                <div class="p-1 mt-2">
                    <div class="d-lg-flex mb-2 align-items-end flex-column flex-lg-row ">
                        <p class="align-items-center fs-4 mb-0 mb-lg-0 fw-bolder articulo-titulo">$ 20.000,00</p>
                        <p class="text-start fs-6 mb-0 mb-lg-1 ms-lg-2">10% OFF</p>
                    </div>
                    <p class="fs-6 mb-0 articulo-descripcion">Art. 5295</p>
                    <p class="text-break fs-6 articulo-descripcion">Conjunto POWER COLOR</p>
                </div>
            </div>
        </div>
    
        <!-- Producto 3 -->
        <div class="col-lg-3 col-md-6 col-6 mb-2">
            <div class="card product-card">
                <div class="product-image">
                    <img src="./images/producto-1.jpg" alt="Imagen Producto 1">
                </div>
                <div class="p-1 mt-2">
                    <div class="d-lg-flex mb-2 align-items-end flex-column flex-lg-row ">
                        <p class="align-items-center fs-4 mb-0 mb-lg-0 fw-bolder articulo-titulo">$ 20.000,00</p>
                        <p class="text-start fs-6 mb-0 mb-lg-1 ms-lg-2">10% OFF</p>
                    </div>
                    <p class="fs-6 mb-0 articulo-descripcion">Art. 5295</p>
                    <p class="text-break fs-6 articulo-descripcion">Conjunto POWER COLOR</p>
                </div>
            </div>
        </div>
    
        <!-- Producto 4 -->
        <div class="col-lg-3 col-md-6 col-6 mb-2">
            <div class="card product-card">
                <div class="product-image">
                    <img src="./images/producto-1.jpg" alt="Imagen Producto 1">
                </div>
                <div class="p-1 mt-2">
                    <div class="d-lg-flex mb-2 align-items-end flex-column flex-lg-row ">
                        <p class="align-items-center fs-4 mb-0 mb-lg-0 fw-bolder articulo-titulo">$ 20.000,00</p>
                        <p class="text-start fs-6 mb-0 mb-lg-1 ms-lg-2">10% OFF</p>
                    </div>
                    <p class="fs-6 mb-0 articulo-descripcion">Art. 5295</p>
                    <p class="text-break fs-6 articulo-descripcion">Conjunto POWER COLOR</p>
                </div>
            </div>
        </div>
    </div>
    
    

</main>


    <%- include("./partials/footer") %>

    <!-- Bootstrap JS y Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function() {
            var isMouseDown = false,
                startX, scrollX;
        
            $("#categoryCarousel").mousedown(function(e) {
                isMouseDown = true;
                startX = e.clientX;
                scrollX = $(this).scrollLeft();
            })
            .mousemove(function(e) {
                if (isMouseDown) {
                    e.preventDefault();
                    var x = e.clientX;
                    var walk = (x - startX);
                    $(this).scrollLeft(scrollX - walk);
                }
            })
            .mouseup(function() {
                isMouseDown = false;
            })
            .mouseleave(function() {
                isMouseDown = false;
            });
        });
    </script>
        
        
</body>
</html>